
.idea/

obj/

Logs/

Library/

Build/

Assets/Resource/Asia/ModelA/菲律賓/Image/

Assets/Resource/Asia/ModelA/泰國/Image/

Assets/Resource/Asia/ModelA/日本/Image/

Assets/Resource/Asia/ModelA/中國/Image/

Assets/Resource/Asia/ModelC/越南/Image/

Assets/Resource/Asia/ModelC/台灣/Image/

Temp/

ProjectSettings/

Assembly-CSharp.csproj

UserSettings/

Assembly-CSharp-firstpass.csproj

Sirenix.OdinInspector.CompatibilityLayer.csproj

Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj

Sirenix.OdinInspector.Modules.UnityMathematics.csproj

Assets/LogIn/button/2.0.meta
